body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    margin: 5px;
    background-color: rgb(87, 199, 255) ;
    border-radius: 10px;
  }
  
  .logo {
    margin-right: auto;
    color: white;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #1381ff;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(100, 224, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(10, 189, 249, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(63, 165, 255) ;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: rgb(68, 218, 255);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: #151515;
  padding: 80px 0;
  position: flex;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}


.pf-sticky-section ul {
  list-style: none;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.pf-sticky-section .social {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 1.5%;
}

.pf-sticky-section .social a {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background-color: #ffffff82;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 10px;  
}

.pf-sticky-section .social .googlemap {
  background-color: #ffffff;
}

.pf-sticky-section .social .facebook {
  background-color: #4267b2;
}

.pf-sticky-section .social .gmail {
  background-color: #ffffff;
}

.pf-sticky-section .social .whatsapp {
  background-color: #30e162;
}


.pf-sticky-section .social .phone{
  background-color: #ffffff;}

.pf-sticky-section .social a svg {
  fill: #fff;
  transition: transform 200ms ease-in-out;
  z-index: 2;
}

.pf-sticky-section .social a::before {
  content: attr(data-text);
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffffff9c;
  position: absolute;
  top: -55%;
  right: 50%;
  transform: translateX(50%) rotate3d(300, 0, 0, -90deg);
  padding: 3px 5px 6px 5px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    55% 90%,
    50% 100%,
    45% 90%,
    0% 90%
  );
  transition: transform 200ms ease-in-out;
  transform-origin: bottom;
}


.pf-sticky-section .social a::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #e4e8ed8f;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: transform 200ms ease-in-out;
  transform-origin: bottom;
  clip-path: circle(0% at 50% 100%);
  border-radius: 10px;
  transition: clip-path 250ms ease-in-out;
}

.pf-sticky-section .social a:hover::after {
  clip-path: circle(100%);
}


img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.pf-sticky-section {
  width: 40%;
  height: 8%;
  position: fixed;
  align-items: center;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0  );
  border-radius: 20px;
  z-index: 9;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 1000px) {
  .pf-sticky-section {
    display: none; /* Hide the sticky section on mobile */
  }
}


.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #7fe3ff;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 40px;
  margin: 20px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(72, 197, 255, 0.764);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #8ce8ff;
  color: #000000;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #84ceff 20%, #46b5ff 80%);
}
.bgTop {
    z-index: 2;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 1;
    opacity: 0.75;
}
.bgBottom {
    z-index: -1;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@media (max-width: 1000px) {
    .waveWrapper {
      display: none; /* Hide the sticky section on mobile */
    }
  }

  .home-ing{
    display: flex; 
    padding-right: 35rem;
    padding-left: 26rem;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    max-height: 150px;
    margin-top: 50px;
    margin-bottom: -50px;
    }
    
    @media (max-width: 1000px){
      .home-ing{
        display: none; 
        
      }
    }
    

    